Q1. Pandas version

In [4]:
import pandas as pd
pd.__version__

'2.3.3'

Question 2. Records count

In [5]:
df = pd.read_csv("car_fuel_efficiency.csv")
df.shape[0]

9704

Question 3. Fuel types

In [6]:
df.head()
df["fuel_type"].nunique()

2

Question 4. Missing values

In [7]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

Question 5. Max fuel efficiency

In [8]:
asia_cars = df[df["origin"] == "Asia"]
asia_cars["fuel_efficiency_mpg"].max()

np.float64(23.759122836520497)

Q6. Median value of horsepower

In [9]:
df["horsepower"].median()

np.float64(149.0)

In [10]:
most_freq = df["horsepower"].mode()
print(most_freq)

0    152.0
Name: horsepower, dtype: float64

In [11]:
df["horsepower_filled"] = df["horsepower"].fillna(most_freq[0])

In [12]:
df["horsepower_filled"].median()

np.float64(152.0)

Q7. Sum of weights

In [13]:
asia_cars = df[df["origin"] == "Asia"]

In [14]:
asia_cars[["vehicle_weight", "model_year"]]

      vehicle_weight  model_year
8        2714.219310        2016
12       2783.868974        2010
14       3582.687368        2007
20       2231.808142        2011
21       2659.431451        2016
...              ...         ...
9688     3948.404625        2018
9692     3680.341381        2016
9693     2545.070139        2012
9698     3107.427820        2005
9703     2908.043477        2005

[3247 rows x 2 columns]

In [15]:
asia_cars[["vehicle_weight", "model_year"]].iloc[0:6]

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014

In [16]:
X = asia_cars[["vehicle_weight", "model_year"]].iloc[0:7].values

In [17]:
XTX = X.T.dot(X)

In [18]:
import numpy as np

In [19]:
XTX_inv = np.linalg.inv(XTX)

In [20]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [21]:
w = XTX_inv.dot(X.T).dot(y)

In [22]:
w.sum()

np.float64(0.5187709081074006)