In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("car_fuel_efficiency.csv")

In [3]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

In [7]:
data = {
    "Name": ["Alice", "Bob", "Charlie", "Diana"],
    "Age": [25, 30, 35, 28],
    "City": ["New York", "Chicago", "San Francisco", "Austin"]
}

df = pd.DataFrame(data)
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30        Chicago
2  Charlie   35  San Francisco
3    Diana   28         Austin

In [8]:
# Convert DataFrame to list of dictionaries (records)
records = df.to_dict("records")
print(records)

# Convert DataFrame to dictionary of columns
cols = df.to_dict()
print(cols)

[{'Name': 'Alice', 'Age': 25, 'City': 'New York'}, {'Name': 'Bob', 'Age': 30, 'City': 'Chicago'}, {'Name': 'Charlie', 'Age': 35, 'City': 'San Francisco'}, {'Name': 'Diana', 'Age': 28, 'City': 'Austin'}]
{'Name': {0: 'Alice', 1: 'Bob', 2: 'Charlie', 3: 'Diana'}, 'Age': {0: 25, 1: 30, 2: 35, 3: 28}, 'City': {0: 'New York', 1: 'Chicago', 2: 'San Francisco', 3: 'Austin'}}

In [10]:
# One-column data
ages = pd.Series([25, 30, 35, 28], name="Age")

# Table-like data
data = {
    "Name": ["Alice", "Bob", "Charlie", "Diana"],
    "Age": [25, 30, 35, 28],
    "City": ["New York", "Chicago", "San Francisco", "Austin"]
}
df = pd.DataFrame(data)
ages

0    25
1    30
2    35
3    28
Name: Age, dtype: int64

In [11]:
df["Age"]          # gives a Series
type(df["Age"])

pandas.core.series.Series

In [15]:
df.head()        # quick peek
df.index         # inspect the index
type(df.index) # see its Python/Pandas type

pandas.core.indexes.range.RangeIndex